*.vo
*.glob
*.v.d
_CoqPath
_CoqProject
Makefile.coq
Makefile.test.coq
Makefile.paths
*~
.dir-locals.el
deps.*
\#*
.#*
mirror-core.tgz
coq-ext-lib
*.cmi
*.cmo
*.cmt
*.cmx
*.cmxs
*.cma
*.cmxa
*.cmt
*.cmti
*.a
*.o
*.d
.*.aux
.merlin
*.vio
universes.txt